/* css reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

/* nav styling */
nav {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    flex-direction: row-reverse;
    align-items: center;
}
nav ul {
    display: flex;
    gap: 2rem;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
main {
    margin-top: 4rem;
    padding: 2rem;
    text-align: center;
}

/* content section styling */
#figure1 {
    text-align: center;
}
#pfp {
    border-radius: 50%;
    border: 5px solid #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 20rem;
    height: auto;
    display: block;
    margin: 1rem auto;
}

/* footer styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
